<!DOCTYPE html>
<html>
<head>
  <title>Session Info</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Session Info:</h1>
<p><%= JSON.stringify(user) %></p>
</body>
</html>
