<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div style="display: inline-block;vertical-align: top;"><input type="file" name="uploadFile" id="uploadify" style="margin-bottom: 10px;" onchange=""/></div>
  <div id="fileQueue" style="display: inline-block;height: 60px;min-height: 60px;margin-bottom: 0;border: 0px;"></div>
  </body>
</html>
